
.login-container {
    object-fit: fill;
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: #64D6EA;
}

.login-container .content {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin:0 auto;
    min-height: 65%;
    object-fit: fill;
    position: absolute;
    left:50%; 
    top:50%; 
    transform:translate(-50%,-50%);
    text-align: center;
    display: table;
    border-radius:10px 0;
}

.login-container .content .left {
    text-align: left;
    vertical-align: middle;

    display: table-cell;
    padding-left: 20px;
}

.login-container .content .right {
    text-align: center;
    vertical-align: middle;

    display: table-cell;
    padding-right: 20px;
    margin: 0 auto;
}

.login-container .content .right .logo {
    object-fit: contain;
    height: 90px;
    width: 180px;
}

.login-container .content .right .icon {
    text-align: right;
}

.input {
    border: none;
    border-bottom: #fff;
}


/* .login-container .login-sub-container {
    display: inline;
    margin: 0 auto;

    text-align: center;
} */

.login-container .login-form {
    position: relative;
    width: 520px;
    margin: auto auto;
    overflow: hidden;
}

/* .login-container .title-container{
	display: flex;
	justify-content: center;
	padding: 20px 0;
	margin-bottom: 20px;
}

.login-container .title-container .logo{
	max-height: 70px;
}

.login-container .title-container .title{
    font-size: 26px;
    color: #eee;
    margin: 0px auto 40px auto;
    text-align: center;
    font-weight: bold;
}

.login-container .el-form-item {
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    color: #454545;
}
*/

.login-container .el-input input {
    background: transparent;
    border: 0px;
    -webkit-appearance: none;
    color: #000;
    height: 47px;
    caret-color: #fff;
    border-bottom: #000 1px solid;
    border-radius: 0px;
}


.player {
	position: relative;
	width: 100%;
    height: 100%;
	border: 0px solid blue;
}

.player-iframe {
    border: none;
    width: 100%;
    height: 100%;
}
